[[ -s .venv-doc-query-rag/bin/activate ]] && source .venv-doc-query-rag/bin/activate

set -a
source env/.env.development.main
[[ -s env/.env.development.creds ]] && source env/.env.development.creds
set +a
